<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express js</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="title">Welcome to Home page</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque minus nemo provident aspernatur velit dicta laborum sunt voluptatem, amet a ab praesentium quam. Consequuntur amet, nihil repudiandae maiores obcaecati optio?</p>
    <a href="/admin/create-post" class="btn">Create Post</a>
</body>
</html>